.add-item {
  > form {
    display: flex;
    flex-direction: column;

    .form-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 3rem;
      margin: 1.5rem 0 0.5rem 0;

      &:first-child {
        margin-top: 3rem;
      }

      + .checkbox-container{
        height: max-content;
        display: flex;
        align-items: flex-start;

        >h1{
          height: 3rem;
        }

        .check-options-box{
          display: flex;
          flex-direction: column;
          width: 50%;
          padding-left: 2rem;
  
          .check-options-row{
            display: flex;
            flex-direction: row;
            height: 3rem;
            width: 110%;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;


            >input{
              scale: 2;
            }

            >p{
              text-transform: uppercase;
              font-size: 1.1rem;
              letter-spacing: 1px;
              font-weight: 500;
              width: 100%;
            }
          }
        }
      }

      

      > h1 {
        text-transform: uppercase;
        font-size: 1.25rem;
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $primary-color;
        padding: 0 1.5rem;
        border-radius: 0.5rem 0 0 0.5rem;
      }

      > input {
        width: 70%;
        height: 100%;
        border: 2px solid transparent;
        border-left: none;
        outline: none;
        border-radius: 0 0.5rem 0.5rem 0;
        padding: 0 1rem;
        font-size: 1rem;

        &:focus {
          border: 2px solid $primary-color;
        }
      }

      > select {
        width: 30%;
        height: 100%;
        outline: none;
        border: 2px solid transparent;
        padding: 0 1rem;
        font-size: 1rem;

        &:focus {
          border: 2px solid $primary-color;
        }
      }

      input[type="file"] {
        width: max-content;
        padding: 0;
        height: 100%;

        &::file-selector-button {
          border-radius: 4px;
          padding: 0 16px;
          height: 100%;
          cursor: pointer;
          background-color: white;
          border: 1px solid rgba(0, 0, 0, 0.16);
          transition: background-color 200ms;
        }
      }

      /* file upload button hover state */
      input[type="file"]::file-selector-button:hover {
        background-color: #f3f4f6;
      }

      /* file upload button active state */
      input[type="file"]::file-selector-button:active {
        background-color: #e5e7eb;
      }
    }

    .btn-Container {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      margin: 2rem;

      .ghost-btn {
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
        width: 20%;
      }

      .btn {
        font-size: 1.3rem;
        width: 20%;
        border-radius: 1rem;
      }
    }
  }
}



@media screen and (max-width: 530px) {
  .add-item > form .btn-Container {
    flex-direction: column-reverse;
    gap: 1.5rem;
    height: max-content;
    margin: 1rem 0;

    .btn {
      width: 50%;
    }
    .ghost-btn {
      width: 50%;
    }
  }

  .add-item > form {

    .form-row {
        height: 4.5rem;

      + .checkbox-container{ 
        
      .check-options-box{
        .check-options-row{
          margin: 0.3rem 0;
          >input{
            scale: 1.5;
          }
        }
      }

        > h1{
          height: 4.5rem;
        width: 40%;
      }
    
    }

      > h1 {
        width: 40%;
      }
    }
  }
}
